<div class="main-container-dashboard">

    <!-- STATS CARDS -->
    <div class="stat-cards-container flex justify-between">
        <div class="order-card card shadow-bottom">Total Orders</div>

        <div class="appointment-card card shadow-bottom">Total Appointments</div>

        <div class="inquiries-card card shadow-bottom">Total Inquiries</div>

        <div class="products-card card shadow-bottom">Total Products</div>
    </div>


    <!-- ACTIVITY CARD -->
    <div class="activity-container shadow-bottom rounded-lg" >
        <div class="card-header">Monthly Activity</div>
    </div>

    <!-- ORDERS AND APPOINTMENTS CARDS-->
    <div class="admin-cards flex justify-between">
        <div class="recent-order-card oaa shadow-bottom rounded-lg">
            <div class="card-header">Recent Orders</div>
        </div>

        <div class="pending-appointment-card oaa shadow-bottom rounded-lg">
            <div class="card-header">Pending Appointment Requests</div>
        </div>
    </div>
</div>


