<div class="container p-4">
    <!-- SUMMARY CARDS -->
    <div class="container flex-center gap-4">
        <div class="container flex-column align-center shadow-bottom rounded-sm">
            <span class="text-xs">Total Products</span>
            <h2 class="text-lg">6</h2>
        </div>
        <div class="container flex-column align-center shadow-bottom rounded-sm">
            <span class="text-xs">In Stock</span>
            <h2 class="text-lg">5</h2>
        </div>
        <div class="container flex-column align-center shadow-bottom rounded-sm">
            <span class="text-xs">Limited Stock</span>
            <h2 class="text-lg">1</h2>
        </div>
        <div class="container flex-column align-center shadow-bottom rounded-sm">
            <span class="text-xs">Total Value</span>
            <h2 class="text-lg">₱6700</h2>
        </div>
    </div>
    
    <!-- PRODUCT MANAGEMENT -->
</div>