.auth.page {
    grid-template-columns: 0.75fr 1fr;
}

.logo {
    margin-bottom: 2rem;
    padding: var(--space-4);
    color: var(--yellow-green);
    font-size: 3rem;
    background-color: var(--base-green);
    border-radius: 50%;
}

.left-div {
    background-color: var(--dark-green);
}

.left-div h2 {
    margin-bottom: var(--space-2);
    color: #e6e6e6;
    font-size: 1.5rem;
    line-height: 1.2;
}

.left-div p {
    color: #e7e7e7;
    font-size: var(--font-sm);
}

.left-div p strong {
    color: var(--yellow-green);
}

.right-div {
    background-color: aliceblue;
}

.right-div h3 {
    font-size: 1.15rem;
}

.right-div .container-xs {
    max-width: 370px;
    padding: 1rem;
    background-color: var(--clr-light);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-md);
}