<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="fontawsome/css/all.min.css">
    <link rel="stylesheet" href="fontawsome/css/fontawesome.min.css">
    <title>Login</title>
</head>
<body>
    <main>
        <div class="page grid auth">
            <div class="flex-column flex-center left-div">
                <i class="logo fa-solid fa-leaf"></i>
                <div class="container container-xxs">
                    <h2 class="text-center">GREENS FOR GROWTH FARMING SCHOOL</h2>
                    <p class="text-center"><strong>Farm Order and Appointment System</strong></p>
                    <p class="text-center">Connecting you to fresh produce and meaningful farm experiences.</p>
                </div>

            </div>

            <div class="flex-center right-div">
                <div class="container container-xs">
                    <h3>Welcome Back</h3>
                    <p class="text-sm">Enter your credentials to access your account</p>
                    
                    <div class="flex-column mb-2">
                        <span class="text-xs mb-1"><strong>Username</strong></span>
                        <input id="username" class="input" type="text" placeholder="username">
                    </div>
                    <div class="flex-column mb-2">
                        <span class="text-xs mb-1"><strong>Password</strong></span>
                        <input id="password" class="input" type="password" placeholder="••••••••">  
                    </div>
                    <p class="text-xs text-right">Don't have an account? <a href="/register">Register</a></p>
                    <button id="login" class="btn btn-primary w-full">Login</button>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/auth/login.js"></script>
</body>
</html>