<div class="container p-4">
    <p>Browse our fresh, locally-grown products</p>
    <!-- PRODUCT CARDS -->
    <div class="container">
        <div class="container container-xs px-0 product-card">
            <div class="container flex-center product-image">
                <i class="fa-solid fa-leaf"></i>
            </div>
            <div class="container mt-4 product-content">
                <h4>Lettuce</h4>
                <span class="text-sm">Fresh, crisp lettuce grown organically</span>
                <div class="container flex gap-1 px-0 mt-2">
                    <h3 class="text-lg">₱45.00</h3>
                    <span class="text-xs px-1 mt-2">per kg</span>
                </div>
                <div class="container mt-2 product-option">
                    <div>
                        <button>-</button>
                        <input type="number" value="1">
                        <button>+</button>
                    </div>
                    <div class="order-btn">Order Now</div>                    
                </div>

            </div>
        </div>
    </div>
</div>